body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-title-color);
  background-color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.border {
  border-bottom: 1px solid var(--header-border-color);
}
