:root {
  --accent-color: #2196f3;
  --main-text-color: #757575;
  --dark-bgc: #2f303a;
  --hero-title-color: #ffffff;
  --light-bgc: #f5f4fa;
  --footer-transparent: rgba(255, 255, 255, 0.6);
  --footer-icon-bgc: rgba(255, 255, 255, 0.1);
  --footer-icon-color: #ffffff;
  --main-title-color: #212121;
  --team-card-color: #ffffff;
  --header-border-color: #ececec;
  --portfolio-border-color: #eeeeee;
  --icon-bgc: #ffffff;
  --icon-color: #afb1b8;
  --icon-hover-color: #ffffff;
  --clients-icon-color: #afb1b8;
  --features-icon-bgc: #f5f4fa;
  --gallery-dark-gray: rgba(47, 48, 58, 0.8);
  --accent-overlay-color: rgba(33, 150, 243, 0.9);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --close-btn-border: rgba(0, 0, 0, 0.1);
  --hero-btn-hover: #188ce8;
  --input-border-color: rgba(33, 33, 33, 0.2);
  --placeholder-color: rgba(117, 117, 117, 0.5);
}
