// .clients {
//   padding-top: 94px;
//   padding-bottom: 94px;
// }

.clients__title {
  @include font(700, 28px, 1.18, null);
  margin-bottom: 30px;
  text-align: center;
  @media screen and (min-width: 1200px) {
    @include font(700, 36px, 1.17, null);
    margin-bottom: 50px;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients-list__item {
  width: calc((100% - 30px) / 2);
  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 3);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 150px) / 6);
  }
}

.clients-list__link {
  @extend %align-justify-center;
  box-sizing: border-box;
  display: flex;
  height: 92px;

  border: 1px solid var(--clients-icon-color);
  border-radius: 4px;

  color: var(--clients-icon-color);

  transition-property: color, background-color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: var(--accent-color);
    color: var(--accent-color);
  }
}

.clients-list__icon {
  fill: currentColor;
}
