.pic-list {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
  }
}

.pic-list__item {
  width: 100%;
  @include tablet {
    width: 354px;
  }
  @include desktop {
    width: 270px;
  }
}

.pic-list__item:not(:last-child) {
  margin-bottom: 30px;
}

.pic-list__icon {
  padding: 25px 100px;
  border-radius: 4px;

  background-color: var(--features-icon-bgc);
  text-align: center;
}

.pic-list__list-title {
  @include font(700, 14px, 1.14, null);
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 30px;
}

.pic-list__text {
  line-height: 1.71;

  color: var(--main-text-color);
}
