.mobile-menu__open-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
  transition: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @include tablet {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  z-index: 1;
  background-color: #ffffff;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  > .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.mobile-menu__close-btn {
  background-color: transparent;
  display: flex;
  margin-right: 0;
  margin-left: auto;
  margin-top: 21px;

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
  transition: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__navigation-list {
  margin-left: 25px;
}

.mobile-menu__navigation-item:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-menu__navigation-link {
  transition: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  @include font(500, 40px, 1.18, 0.02em);
  color: var(--main-title-color);
}

.mobile-menu__connect-list {
  margin-bottom: 64px;
  margin-left: 25px;
}
.mobile-menu__connect-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__connect-tel {
  @include font(500, 28px, 1.18, 0.02em);

  @include mobile {
    @include font(500, 34px, 1.18, 0.02em);
  }
  color: var(--accent-color);
}
.mobile-menu__connect-email {
  @include font(500, 24px, 1.17, 0.02em);
  color: var(--main-text-color);
}

.mobile-menu__soc-list {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  margin-bottom: 48px;
  margin-left: 25px;
}

.mobile-menu__soc-item {
  display: flex;
}

.mobile-menu__soc-item:nth-child(-n + 2) {
  margin-bottom: 10px;
}

.mobile-menu__soc-item:not(:last-child) {
  margin-right: 10px;
}

.mobile-menu__soc-link {
  @include font(500, 18px, 1.22, 0.02em);
  color: var(--accent-color);
  display: flex;
  align-items: center;
}

.mobile-menu__soc-item:not(:last-child)::after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 22px;
  background-color: var(--input-border-color);
  margin-left: 10px;
}
