.btn-list {
  @extend %justify-center;
  margin-bottom: 50px;
}

.btn-list__item:not(:last-child) {
  margin-right: 8px;
}

.button__portfolio {
  padding: 6px 22px;

  @include font(500, null, 1.6, 0.03em);
  text-align: center;

  color: var(--main-title-color);
  background-color: var(--light-bgc);

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--hero-title-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.card-list {
  @extend %justify-center;
  flex-wrap: wrap;
  gap: 30px;
}

.product-card {
  display: block;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.product-card:hover .product-card__text-overlay,
.product-card:focus .product-card__text-overlay {
  transform: translate(0%, 0%);
}

.product-card__overlay {
  position: relative;
  overflow: hidden;
}

.product-card__text-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;

  padding: 63px 24px;

  font-family: 'Roboto';
  font-style: normal;
  @include font(400, 18px, 1.56, 0.03em);
  color: var(--hero-title-color);
  background-color: var(--accent-overlay-color);

  transform: translate(0%, 110%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.product-card__infobox {
  padding: 20px 24px;
  border-left: 1px solid var(--portfolio-border-color);
  border-right: 1px solid var(--portfolio-border-color);
  border-bottom: 1px solid var(--portfolio-border-color);
}

.product-card__name {
  margin-bottom: 4px;

  @include font(700, 18px, 2, 0.06em);

  color: var(--main-title-color);
  font-family: 'Roboto' sans-serif;
  font-style: normal;
}

.product-card__descr {
  font-size: 16px;
  line-height: 1.88;

  color: var(--main-text-color);
}
